<!-- Page Footer -->
<footer id="sticky-footer" class="py-4">
<div class="container text-center">
    <a href="/about/" title="know more about suyash singh bitti"><small>Made with &#x2764; by Suyash | </small></a>
    <span>
    <a href="{{ site.github }}" title="Github page of Suyash Singh Bitti" target="_blank"><svg class="svg-icon"><use xlink:href="#icon-github"></use></svg></span></a>
    <a href="{{ site.linkedin }}" title="Suyash Singh Bitti's Linkedin profile page" target="_blank"><svg class="svg-icon"><use xlink:href="#icon-linkedin"></use></svg></span></a>
    </span>
</div>
</footer>