<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top blue-header-bg" >
	<a href="/" class="navbar-brand border rounded" style="border-width: 2px !important; padding: 5px !important;">Suyash</a>
	<input type="checkbox" id="navbar-toggle-cbox">
	<label role="navigation" for="navbar-toggle-cbox" class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</label>

	<div class="collapse navbar-collapse" id="collapsibleNavbar">
		<ul class="navbar-nav">
            {% comment %}
                Don't add pages that don't have order variable defined in it.
            {% endcomment %}
			{% assign mypages = site.pages | sort: "order" %}
		    {% for page in mypages %}
                {% if page.order != nil %}
		            <li class="nav-item">
                        {% if page.url == "/" %}
                            <a class="nav-link text-white font-weight-bold" href="{{ page.url | absolute_url }}">Home</a>
                        {% else %}
                            <a class="nav-link text-white font-weight-bold" href="{{ page.url | absolute_url }}">{{ page.title }}</a>
                        {% endif %}
		            </li>
                {% endif %}
		    {% endfor %}
		</ul>
	</div>
</nav>
