<!-- Social Media Sharing -->
<span>Its your appreciation that keeps me moving. Please consider sharing it amongst your peers.</span><br>
<div class="text-success" style="display: inline;">
    Share this post:         
    <a href="https://twitter.com/intent/tweet?url={{site.url}}{{page.url}}&text={{ page.title | default:"" | uri_escape}}&via=cq_suyash" aria-label="link for tweeting this article on twitter" title="link for tweeting this post on twitter" onclick="window.open(this.href, 'mywin','left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;">
        <span><svg class="svg-icon"><use xlink:href="#icon-twitter"></use></svg></span>
    </a>
    <a href="https://www.linkedin.com/shareArticle?mini=true&url={{site.url}}{{page.url}}&title={{ page.title | default:"" | uri_escape}}&summary={{ page.post_intro | default:"" | uri_escape}}&source={{ site.url }}" aria-label="link for sharing this article on linkedin" title="link for sharing this post on linkedin" onclick="window.open(this.href, 'mywin','left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;">
        <span><svg class="svg-icon"><use xlink:href="#icon-linkedin"></use></svg></span>
    </a>
</div>


