---
layout: compress
---

<!-- Page template for home page -->
<!doctype html>
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="shortcut icon" href="{{ "favicon.ico" | relative_url }}" type="image/x-icon">

{% seo %}
<!-- Google Analytics -->
{% include google_analytics.html %}
{% include gtm-head.html %}
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="{{ "/assets/css/bootstrap.min.css" | relative_url }}">
<link rel="stylesheet" href="{{ "/assets/css/scroll-to-top.css" | relative_url }}">

<style>
  /* Sticky Footer Classes */
  html,
  body {
    height: 100%;
  }

  #page-content {
    flex: 1 0 auto;
  }

  #sticky-footer {
    flex-shrink: none;
  }

  /* Other customizations */
  .blue-header-bg {
    background-image: url("{{ "/assets/images/header-bg.jpg" | relative_url }}");
  }

  /* CSS for Navbar */
  .navbar {
    border-bottom:1px solid #FFF;
  }

  #navbar-toggle-cbox:checked ~ .collapse {
    display:block;
  }

  #navbar-toggle-cbox {
    display: none;
  }

  {% include svg-icons-css.html %}
</style>
</head>

<body>
  {% include gtm-body.html %}
  {% include svg-icons.html %}
  <!-- Dynamically generated navigation Bar -->
  {% include navigation.html %}
  <!-- ./Dynamically generated navigation Bar -->

  <!-- Jumbotron -->
  <div class="jumbotron text-center blue-header-bg" style="margin-top:30px;">
  	<h1 class="text-light" style="font-size: 60px; ">Suyash Singh Bitti</h1>
    <span class="text-light">Suyash's Blog ~ Embedded bits & bytes!</span>
  </div>
  <!-- ./Jumbotron -->

  <!-- Page Container -->
  <div class="container">
    <div class="row text-center">
      <div class="col-md-8">
        <p class="lead">
        <span class="text-info" style="font-size: 2em;">नमस्ते (Namaste/Hello)</span><br><br>
        I am <strong>Suyash Singh Bitti</strong>. I am an Embedded Software Developer, living in
        Pune, India. I work on Embedded Systems, Linux Device Drivers, Linux Systems Programming,
        Socket Programming, Microcontrollers, IoT and more.

        You can find more about me here.
        </p>
        <a href="/about/" class="btn btn-outline-success" title="Know more about Suyash Singh Bitti">More About Me</a>
        <br>
        <br>
        <span>
        <a href="{{ site.github }}" title="Github page of Suyash Singh Bitti" target="_blank"><span><svg class="svg-icon"><use xlink:href="#icon-github"></use></svg></span></a>
        <a href="{{ site.linkedin }}" title="Suyash Singh Bitti's Linkedin profile page" target="_blank"><span><svg class="svg-icon"><use xlink:href="#icon-linkedin"></use></svg></span></a>
        </span>
      </div>

      <div class="col-md-4">
        <div class="card">
        <div class="card-body">
        <h4 class="card-title">More</h4>
        <ul class="list-group list-group-flush">
          {% comment %}
            Check if top level page has order variable defined in it. If not don't add it on the navigation menu.
            To hide a page from the navigation menu omit the order variable in the page.
          {% endcomment %}
          {% assign mypages = site.pages | sort: "order" %}
          {% for page in mypages %}
            {% if page.order != nil %}
                <li class="list-group-item">
                  {% if page.url == "/" %}
                    <a href="{{ page.url | absolute_url }}" title="Home page of Suyash Singh Bitti">Home</a>
                  {% else %}
                    <a href="{{ page.url | absolute_url }}" title="suyash singh bitti's {{ page.title | downcase }} page">{{ page.title }}</a>
                  {% endif %}
                </li>
            {% endif %}
          {% endfor %}
        </ul>
        </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ./Page Container -->
  
  <!-- Footer for Home Page / Donot add site wide footer -->
  <footer id="sticky-footer" class="py-4"><a href="{{ page.url | absolute_url }}" title="link to homepage suyash's homepage">
    <div class="container text-center">
      <small>Made with &#x2764; by Suyash.</small>
    </div>
  </footer>
  <!-- ./Page Footer -->

  <!-- Optional JavaScript -->
  <!-- Scroll to top link -->
  <a aria-hidden="true" id="back-to-top" href="#" class="btn btn-outline-primary btn-lg back-to-top" role="button"><span><svg class="svg-icon"><use xlink:href="#icon-angle-double-up"></use></svg></span></a>
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="{{ "/assets/js/scroll-to-top.js" |  relative_url }}"></script>
</body>
</html>
